# Rust / Cargo
# Ignore build artifacts and dependencies.
target/

# Node.js / pnpm
# Ignore dependency directories and lock files.
node_modules/
pnpm-lock.yaml
tsconfig.json
bun.lock
deno.lock
Cargo.lock
cargo.lock
package-lock.json

# Project-specific directories
# Ignore directories for tensor data and parsing logic.
# Ignore deno sdk
# Ingore models library
# Ignore model embeddings.
tensor/
parser/
init.ts
init.log
model.txt
embeddings.db
embeddings.unit
pos.md
sdk/

# Build artifacts
# Ignore custom makefiles.
makefile

# macOS
# Ignore macOS specific files.
.DS_Store
**/*/.DS_Store

# GitHub
# Ignore GitHub-specific configuration files (e.g., for Actions).
.github/

# VSCode
# Ignore VSCode settings and workspace settings
.vscode/